
ul.otherversions {
  position: relative;
  display: inline-block;

  list-style-type: none;
  padding: 3px 10px;

  background-color: seashell;
  border: 2px solid lightgray;
  border-radius: 5px;
}

/******************************************************************************/
/* Adapted from http://www.w3schools.com/css/css_tooltip.asp                   */
/******************************************************************************/

.otherversionpage {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.otherversionpage .otherversionpagetitle {
    visibility: hidden;
    width: 120px;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    margin-top: 5px;

    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    /* Animation */
    opacity: 0;
    transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.otherversionpage:hover .otherversionpagetitle {
    visibility: visible;
    opacity: 1;
}

.otherversionpage .otherversionpagetitle::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
