.poetry {
  padding-left: 1em;
  border-left: 0.1em solid lightgray;
  border-radius: 0.5em;
}

.poetry .stanza {
  padding-left: 1em;
}

.poetry .paren {
  font-style: italic;
  font-size: smaller;
  text-decoration: line-through;
}

.poetry .paren:hover {
  text-decoration: initial;
}

.poetry .chorus {
  margin-left: 0.1em;
  padding-left: 2em;
  border-left: 0.3em solid slategray;
}

.poetry .line {
  display: block;
  text-indent: -1em;
}
